.items-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.item {
  background-color: #1d1a16;
}

.item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0;
}

.item-description {
  margin: 1rem;
}

.item-price {
  display: inline-block;
  background-color: #312c1d;
  color: var( --abc-title-color);
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
}

.item-actions {
  margin-bottom: 1.5rem;
}
