.items-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.item-description {
  margin: 1rem;
}

.item-price {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
}

.item-actions {
  margin-bottom: 1.5rem;
}
