.button {
  font: inherit;
  cursor: pointer;
  background-color: #ffc404;
  color: #1f1a09;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.button:hover,
.button:active {
  background-color: #ffab04;
  border-color: #ffab04;
  color: #1f1a09;
}

.text-button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--abc-title-color);
}

.text-button:hover,
.text-button:active {
  color: #ffab04;
}

.text-button:disabled {
  color: #a59d84;
  cursor: default;
}
